

<div style="background-image: url('../../../assets/pizarron2.jpg');width: 100%;  object-fit: cover;">



  <app-navbar></app-navbar>  
 
  <router-outlet></router-outlet>

  <!-- Footer -->
  
  <footer class="page-footer mt-4" style="border-top: 1px solid rgb(36, 36, 36);">
       
          <!-- Copyright -->
         
          <div class="footer-copyright text-center py-3" style="background-color: black; color:wheat">
           
              <img src="../../../assets/logofondonegro.png" width="27%" style="opacity: 1!important;"alt="">
              <!-- <img src="../../../assets/footer.png" width="30%" style="opacity: 1!important;"alt=""> -->
           
    <a href="https://api.whatsapp.com/send?phone=5492291415593&text=Buenas%20noches,%20les%20queria%20hacer%20una%20consulta"><img src="../../../assets/whatapp.png" width="10%"alt=""> </a>
     
    
                    <h5> Delivery WebApp - 2020  </h5>
          </div>
          <!-- Copyright -->
        
        </footer>
        <!-- Footer -->
  
  
  
      </div>  