<div style="margin-top: 134px">
<br><br><br>
<div class="text-center mt-4" >
<h1 style="color:orange">Ya recibimos su pedido! </h1>
<h5 style="color:wheat">Pronto lo estaremos entregando en su domicilio</h5>
<h4 style="color:wheat">Mercado Pago Info:</h4>
<h5 style="color:wheat">{{idCompraMercadoPago}}</h5>
<h5 style="color:wheat">{{idCompraMercadoPago2}}</h5>
<h5 style="color:wheat">{{estadoCompraMercadoPago}}</h5>
<h5 style="color:wheat">{{estadoCompraMercadoPago}}</h5>
<h4 style="color:wheat" >Orden: 22323 </h4>


<div class ="text-center">
        <a href="https://api.whatsapp.com/send?phone=5492291415593&text=Buenas%20noches,%20les%20queria%20hacer%20una%20consulta"><img src="../../../assets/whatapp.png" width="20%"alt=""> </a>
         <h1 style="color:green">consultas</h1>
        </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>


</div>