/* input[type=checkbox]
{
    transform: scale(2); 
  -ms-transform: scale(2); 
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2); 
  
  padding: 10px;
} */

/* 
input[type=date]
{
    transform: scale(2); 
  -ms-transform: scale(2); 
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2); 
  padding: 10px;
  border-radius:6px;
  

  
}


input[type=time]
{
    transform: scale(1); 
  -ms-transform: scale(1); 
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1); 
  padding: 10px;
  border-radius:6px;
} */
